@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display&display=swap');

body {
    background-color: black;
    color: white; 
    /* margin: auto 10%; */
}

ul {
    list-style-type: none;
    background-color: #000000;
    text-align: right;
    padding-right: 90px; 
}

li {
    display: inline;
    margin-right: 50px; 
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
  
}

a:hover {
    color: #FFA500;
}
.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding-bottom: 350px;
}
 


.right-content {
    flex: 1;
    text-align: right; 
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.right-content img {
    margin-bottom: 80px;

}

.middle-content {
    flex: 1; /* Fait occuper toute la largeur disponible */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center;
}
.middle-content h1{
    font-size: 200px;
  margin-top: 0px;
  line-height: 127px;
  z-index: 2;
  margin-right: 136px;
}

.middle-content h1 span {
        margin-left: 213px;
        font-size: 188px;
}
.section1 button{
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px 20px; 
    font-size: 16px;
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    border: none; 
    margin-left: 214px;
  margin-top: -100px;
}
.section1 button:hover {
    background-color: #FFA500;
    cursor: pointer;
}
.portfolio-title,.about-title ,.contact-title{
    text-align: center; 
    font-size: 70px;
    font-family: 'Playfair Display', serif;

}
/* section portfolio */
.portfolio {
    display: flex;
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
}

.left-imgs, .right-imgs {
    display: flex;
    flex-direction: column; /* Empile les images verticalement */
    align-items: center; /* Centre horizontalement les images */
}

.left-imgs img, .right-imgs img {
    margin: 30px; 
}
/* section about */
.about{
    display: flex;
    flex-direction: row; /* Par défaut, Flexbox aligne les éléments horizontalement */
    justify-content: space-between; /* Espacer les éléments au maximum */
    align-items: center;
}
.left-about, .right-about {
    flex: 1; /* Fait occuper une part égale de l'espace disponible à chaque div */
    padding: 10px; /* Ajoutez de la marge intérieure pour l'espacement */
}
.left-about{
    text-align: left;
    margin-left:50px;
    font-size: 30px;
    line-height: 60px;
}
.right-about{
    text-align: right;
    margin-right:150px;
}
/* section contact */
.Contact{
    display: flex;
    justify-content: center;
}
.champ {
    border:none;
    border-bottom: 2px solid white; 
    background-color: transparent; 
    width: 800px;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
} 
.champ::placeholder{
    color: white; 
}
.div-form input[type="submit"] {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px 20px; 
    font-size: 16px;
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    border: none; 

    /* margin-left:45%; */
    margin-top: 30px;
    height: 60px;
    width: 190px;
}
/* section testimonials */
.left-testimonials-top{
    display:flex;
    background-color: #2b2929;
    margin-right: 50px;
    
}
.left-testimonials-bottom{
    display:flex;
    background-color: #2b2929;
    margin-right: 50px;
    margin-top:50px;
}
.right-testimonials{
    width: 30%;
    background-color: #2b2929;
}
.sec-testimonials{
    display: flex;
    margin-top:100px;
    margin-left: 150px;
    margin-right: 150px;
}
.text-testimonials{
    display: flex;
    flex-direction: column  ;
    justify-content: center;

}
.testimonials-button{
    background-color: #000000; 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 16px;
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    border: 2px solid white; 
    /* display: flex;
    justify-content: center; */
    margin-left:45%;
    margin-top: 50px;
    height: 60px;
    width: 190px;
}
.testimonials-button:hover {
    background-color: #FFA500;
    cursor: pointer;
}
.paragraph-testimonials{
    margin-left:20%;
    margin-right:20%;
}

.section1 img:nth-child(3){
    position: absolute;
  right: -46px;
  width: 35%;
  top: 21px;
}


.section1 img:nth-child(2){
    position: absolute;
    left: 29px;
    width: 40%;
    top: 253px;
    z-index: -1;
}
.left-content p{
    padding-right: 46%;
  margin-bottom: 100px;
  margin-top: 100px;
}

